In [1]:
### <> (Not Equal to)
###SELECT Title, ProductionCompany, Locations, ReleaseYear FROM FilmLocations WHERE Writer<>"James Cameron";

Retrieve the first 15 rows from the “FilmLocations” table starting from row 11.

# SELECT * FROM FilmLocations LIMIT 15 OFFSET 10;

SELECT DISTINCT Title FROM FilmLocations WHERE ReleaseYear=2015 LIMIT 3 OFFSET 5;

## Relational Model

## Entity Relational Model (ERD) <br>
- Entity = Table (Object -> Noun -> Person, book etc)
- Attributes = Columns (charactristics of entity)

## DML - Data Manipulation Language
- Select
- Insert
- Update
- Delete

__Data Manipulation Language statements like INSERT, SELECT, UPDATE, and DELETE are used to read and modify data. (Directly related to Rows)__

## DDL - Data Definition Language <br>
- CREATE - Create new table
- ALTER  - Add, delete, or modify columns in an existing table
- DROP   - Delete the table
- TRUNCATE-Delete table data but not Table

__Data Definition Language (or DDL) statements like CREATE, ALTER, DROP, TRUNCATE are used to define, change, or delete database objects such as tables.__

### CREATE <br>
`CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);`

### Alter <br>
`ALTER TABLE table_name
ADD COLUMN column_name data_type column_constraint;`

`ALTER TABLE table_name
DROP COLUMN column_name;`

`ALTER TABLE table_name
ALTER COLUMN column_name SET DATA TYPE data_type;`

`ALTER TABLE table_name
RENAME COLUMN current_column_name TO new_column_name;`

### TRUNCATE <br>
`TRUNCATE TABLE table_name IMMEDIATE;`

### DROP
`DROP TABLE table_name;`

## Summary <br>
- A database is a repository of data that provides functionality for adding, modifying, and querying the data. 

- SQL is a language used to query or retrieve data from a relational database. 

- The Relational Model is the most used data model for databases because it allows for data independence. 

- The primary key of a relational table uniquely identifies each tuple or row, preventing duplication of data and providing a way of defining relationships between tables. 

- SQL statements fall into two different categories: Data Definition Language (DDL) statements and Data Manipulation Language (DML) statements.

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///mydb.db

In [9]:
%%sql 
SELECT * FROM testtable

 * sqlite:///mydb.db
Done.

[(1, 'test')]

# Week 3

## String Patterns and Ranges

You can use the WHERE clause to refine your query results.

You can use the wildcard character (%) as a substitute for unknown characters in a pattern.

You can use BETWEEN ... AND ... to specify a range of numbers.

You can sort query results into ascending or descending order, using the ORDER BY clause to specify the column to sort on.

You can group query results by using the GROUP BY clause.

## Built-in Database Functions

### Aggregate or Column Function

### Input: `Collection of Values(e.g. entir column)`
### Output: `Single value` <br>
- __sum__, 
- __minimum__, 
- __maximum__, 
- __average__,

Most databases come with built-in functions that you can use in SQL statements to perform operations on data within the database itself.

When you work with large datasets, you may save time by using built-in functions rather than first retrieving the data into your application and then executing functions on the retrieved data.

You can use sub-queries to form more powerful queries than otherwise.

You can use a sub-select expression to evaluate some built-in aggregate functions like the average function. 

Derived tables or table expressions are sub-queries where the outer query uses the results of the sub-query as a data source.

### SQL queries that access multiple tables <br>
- **Accessing Multiple Tables with Sub-Queries**
- **Accessing Multiple Tables with Implicit Joins**
- **Accessing Multiple Tables with Explicit Joins**

#### How does an Implicit version of CROSS JOIN (also known as Cartesian Join) statement syntax look?

`SELECT column_name(s)
FROM table1, table2;`

#### How does an Implicit version of INNER JOIN statement syntax look?

`SELECT column_name(s)
FROM table1, table2
WHERE table1.column_name = table2.column_name;`

# Week 4

## SQL Magic <br>
- **Cell magics**: start with a double %% sign and apply to the entire cell

- **Line magics**: start with a single % (percent) sign and apply to a particular line in a cell

### %magicname arguments

%sql select * from tablename

You can access a database from a language like Python by using the appropriate API. Examples include ibm_db API for IBM DB2, psycopg2 for ProstgreSQL, and dblib API for SQL Server.

DB-API is Python's standard API for accessing relational databases. It allows you to write a single program that works with multiple kinds of relational databases instead of writing a separate program for each one.

The DB_API  connect constructor creates a connection to the database and returns a Connection Object, which is then used by the various connection methods.

The connection methods are:
The cursor() method, which returns a new cursor object using the connection.
The commit() method, which is used to commit any pending transaction to the database.
The rollback() method, which causes the database to roll-back to the start of any pending transaction.
The close() method, which is used to close a database connection. 

You can use SQL Magic commands to execute queries more easily from Jupyter Notebooks. 
Magic commands have the general format %sql select * from tablename.
Cell magics start with a double %% (percent) sign and apply to the entire cell.
Line magics start with a single % (percent) sign and apply to a particular line in a cell.

# Week 5

## Real World Datasets